.mat-form-field {
    margin: 1em;
    display: block;
    position: relative;
    text-align: center;
  }

.form-wrapper{
    justify-content: center !important;
}

.google-wrapper{
  margin: auto;
  padding: 20px;
}