<div class="row form-wrapper">
  <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="mb-3 card mx-auto">
          <div class="card-header-tab card-header ">
              <div class="text-center">
                  <span class="text-center">Login</span>
              </div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
              Value: {{loginForm.value | json}}
              <hr />
              <mat-form-field appearance="fill">
                  <mat-label>Enter Login</mat-label>
                  <input matInput placeholder="ExampleUsername" formControlName="userName">
                  <mat-error *ngIf="userName.invalid">Login is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Enter password</mat-label>
                  <input type="password" matInput formControlName="password">
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
              </mat-form-field>
 
              <div class="text-center">
                  <button type="submit" [disabled]="loginForm.invalid"
                      class="btn btn-outline-primary">Login</button>
              </div>
          </form>
          <div>
            <button class="" (click)="signInWithGoogle()">dsadsad</button>
          </div>
      </div>
  </div>
</div>