<div style="overflow: hidden;">
    <a *ngIf="isAdmin" [routerLink]="['/book-form']" class="btn btn-outline-primary left">Create book</a>
    <a [routerLink]="['/my-books/'+userId]" class="btn btn-outline-warning right">My books</a>
</div>

<div class="row form-wrapper">
    <div class="mb-3 card .mx-auto">
        <form [formGroup]="bookFilterForm" (ngSubmit)="applyFilters()">

            <mat-form-field class="example-full-width text-center">
                <mat-label>Search by title</mat-label>
                <input matInput formControlName="Title" placeholder="Ex The Lord of the Rings">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter release year</mat-label>
                <input formControlName="ReleaseDate" matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pick book authors</mat-label>
                <mat-select formControlName="authors" multiple>
                    <mat-select-trigger>
                        {{this.bookFilterForm.controls.authors.value ? this.bookFilterForm.controls['authors']?.value[0]: ''}}
                        <span *ngIf="bookFilterForm.controls.authors.value?.length > 1"
                            class="example-additional-selection">
                            (+{{bookFilterForm.controls.authors.value.length - 1}}
                            {{bookFilterForm.controls.authors.value?.length === 2 ? 'another' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let author of authorList" [value]="author.authorId">
                        {{author.firstName.substr(0,1) + ". " + author.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="inl-wrapper">
                <div class="inline-date">
                    <mat-form-field>
                        <mat-label>Enter date from</mat-label>
                        <input formControlName="ReleaseDateFrom" matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="inline-date">
                    <mat-form-field>
                        <mat-label>Enter date to</mat-label>
                        <input formControlName="ReleaseDateTo" matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>


            <div class="text-center">
                <button type="submit" [disabled]="bookFilterForm.invalid" class="btn btn-outline-primary">Apply
                    filters</button>

            </div>
        </form>

    </div>
</div>



<mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="bookId">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.book.bookId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let element">{{element.book.title}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="releaseDate">
        <mat-header-cell *matHeaderCellDef>Release date</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let element">{{element.book.releaseDate.substr(0,4)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalCount">
        <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let element">{{element.book.totalCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
        <mat-header-cell *matHeaderCellDef>Authors</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let element">
            <p *ngFor="let author of element.authors">{{" "+ author.firstName.substr(0,1) + ". " + author.lastName + "\n"}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
            <button [disabled]="row.book.availableCount<1"  (click)="borrowBook(row.book.bookId)" mat-icon-button matTooltip="Click to Borrow"
                class="iconbutton" color="dark">
                <mat-icon aria-label="import_contacts">import_contacts</mat-icon>
            </button>
            <a [routerLink]="'/book-form/'+row.book.bookId" mat-icon-button matTooltip="Click to Edit"
                class="iconbutton" color="primary">
                <mat-icon aria-label="edit">edit</mat-icon>
            </a>
            <button (click)="deleteBook(row.book.bookId)" mat-icon-button matTooltip="Click to Delete"
                class="iconbutton" color="warn">
                <mat-icon aria-label="delete">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [length]="bookCount" [pageSize]="pageSize" (page)="onPageChanged($event,target)" [hidePageSize]="true">
</mat-paginator>