td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.searchBar{
    align-content: center !important;
}
.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}