<div>
  <a [routerLink]="['/user-form']" class="btn btn-outline-primary">Create user</a>
</div>

<div class="row form-wrapper">
  <div class="mb-3 card .mx-auto">
    <form [formGroup]="userFilterForm" (ngSubmit)="applyFilters()">

      <mat-form-field class="example-full-width text-center">
        <mat-label>Search by username</mat-label>
        <input matInput formControlName="UserName" placeholder="Ex. Stephen98">
      </mat-form-field>
      <mat-form-field class="example-full-width text-center">
        <mat-label>Search by email</mat-label>
        <input matInput formControlName="Email" placeholder="Ex. Stephen98@gmail.com">
      </mat-form-field>

      <div class="text-center">
        <button type="submit" [disabled]="userFilterForm.invalid" class="btn btn-outline-primary">Apply filters</button>

      </div>
    </form>

  </div>
</div>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.userId}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let element">{{element.userName}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let element">{{element.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button (click)="deleteUser(row.userId)" mat-icon-button matTooltip="Click to Delete" class="iconbutton"
        color="warn">
        <mat-icon aria-label="Usuń">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator #paginator [length]="usersCount" [pageSize]="pageSize" (page)="onPageChanged($event,target)" [hidePageSize]="true">
</mat-paginator>
<button (click)="essa()">essa</button>